@font-face {
font-family: BertholdAkzidenz;
src: url(assets/BERTHOLD AKZIDENZ GROTESK BOLD.OTF);
}
@font-face {
font-family: CourierNew;
src: url(assets/COUR.TTF);
}
* {box-sizing: border-box;}
body {font-family: CourierNew, sans-serif; overflow: hidden;}
h1{font-family: BertholdAkzidenz, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
max-width: 1400px;
margin: auto;
margin-top: 5%;
position: relative;
display: flex;
flex-wrap: wrap;
align-content: center;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}
/* Title */
.title{
font-family: BertholdAkzidenz, sans-serif;
font-weight: 700;
font-size: 11em;
text-align: center;
padding-top: 15px;
width: -webkit-fill-available;
}
/*Subtitle*/
.titlesub{
font-family: CourierNew, sans-serif;
font-weight: 100;
font-size: 55px;
}
