@font-face {
font-family: BertholdAkzidenz;
src: url("https://fmac2000.github.io/environment/assets/BERTHOLD AKZIDENZ GROTESK BOLD.OTF");
}
@font-face {
font-family: CourierNew;
src: url("https://fmac2000.github.io/environment/assets/COUR.TTF");
}
#sidebartext {
    position: absolute;
    margin-left: 60%;
    padding: 2.5%;
	top:0px;
	left:0px;
	display: block;
	}
#sidebartitle {
	position: absolute;
    padding: 2.5%;
    top: 35%;
    left: 0px;
}
#sidebartitle h1{
	    font-size: 8em;
		font-family: BertholdAkzidenz;
}
#sidebartext p{
	    font-size: 18px;
		font-family: BertholdAkzidenz;
}
#a-canvas{width: 100%;
		height: 100%;
		position: relative;
		margin: auto;
		}
		
@media only screen and (max-width: 2560px) {
#sidebartext p{
	    margin-top: 10%;
	    font-size: 18px;
}
#sidebartitle {
	font-size: 1.0em;
}
}		

@media only screen and (max-width: 2559px) {
#sidebartext p{
	    margin-top: 10%;
	    font-size: 14px;
}
#sidebartitle {
	font-size: 0.75em;
}
}

@media only screen and (max-width: 1919px) {
#sidebartext p{
	    margin-top: 15%;
	    font-size: 12px;
}
#sidebartitle {
	font-size: 0.5em;
}
}

@media only screen and (max-width: 1279px) {
	#sidebartext {
		display:none !important;}
	#sidebartitle {
		position: absolute;
		display: inline-block;
		padding: 0;
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
	}
	#sidebartitle {
		font-size: 0.5em;
	}
}