@font-face {
font-family: BertholdAkzidenz;
src: url("https://fmac2000.github.io/environment/assets/BERTHOLD AKZIDENZ GROTESK BOLD.OTF");
}
@font-face {
font-family: CourierNew;
src: url("https://fmac2000.github.io/environment/assets/COUR.TTF");
}
body{
	background-color:black;
	margin:0 !important;
}
div#reflection {
    color: white;
	margin: 2.5% 20%;
	font-family:BertholdAkzidenz;
	font-size:16px;
}
h1{
	font-size:4em;
}
iframe{
	margin-top:5%;
}